body {
	font-family: "Roboto", sans-serif;
	color: #fff;
	background-color: #14131a;
}

.container {
	margin: auto;
	/*max-width: 1140px;*/
	width: 90%;
	padding: 15px 15px;
}

.venom {
	position: absolute;
	top: 0;
	right: 0;
	max-width: 728px;
	width: 40%;
}

.bloud {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background: url("../img/bloud.png") no-repeat top right / 70%;
}

.frame {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	overflow: hidden;
}

.frame-img {
	width: 100%;
	object-fit: contain;
	object-position: center;
}

.header {
	display: flex;
	align-items: center;
	margin: 40px 0 80px 0;
}

.logo-link {
	display: inline-block;
	margin-right: 50px;
}

.nav-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 30px;
}

.nav-menu-link {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
}

/**/

.film-logo {
	width: 70%;
}

.film-date {
	display: block;
	font-size: 24px;
	line-height: 28px;
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 2%;
}

.film-description {
	margin-top: 3%;
	max-width: 423px;
	font-size: 16px;
	line-height: 140%;
	color: rgba(255, 255, 255, 0.8);
}

/**/
.button-group {
	margin: 5% 0 5% 0;
}

.button {
	padding: 15px 30px 15px 30px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
}

.button-icon {
	vertical-align: middle;
}

.button-text {
	font-size: 14px;
	line-height: 16px;
	margin-left: 10px;
}

.button-primary {
	color: #8d0019;
	display: inline-block;
	background-color: #fff;
}

.button-link {
	color: #ffffff;
}

/**/

.content {
	display: grid;
	gap: 5%;
	grid-auto-flow: column;
	align-items: center;
	justify-content: center;
}

.col {
	flex-basis: 50%;
}

.col-trailer {
	max-width: max-content;
}

.col-poster {
	display: flex;
	gap: 30px;
}

.poster {
	border-radius: 5px;
	max-width: 362px;
	width: 100%;
}

.content-title {
	margin: 0 0 20px 0;
	font-size: 36px;
	line-height: 42px;
	color: rgba(255, 255, 255, 0.8);
}

.content-text {
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 140%;
	max-width: 440px;
}

.content-subtitle,
.list {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 140%;
	color: rgba(255, 255, 255, 0.8);
}

.creators .content-subtitle {
	margin-bottom: 5px;
}

.list {
	column-gap: 20px;
	list-style: none;
	padding: 0;
	max-width: 350px;
}

.list-acters {
	column-count: 2;
}

.creators .list {
	margin-bottom: 20px;
}

.list-item {
	line-height: 1.5;
}

.trailer {
	margin-top: 33px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 356px;
	height: 205px;
	background: url("../img/trailer-cover.jpg") no-repeat center / contain;
	border-radius: 5px;
}

.play {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	background: wheat;
}

.menu-button {
	display: none;
}

.menu-close {
	display: none;
}

/******************************/
@media (max-width: 1024px) {
	.content {
		grid-auto-flow: row;
	}

	.header {
		justify-content: center;
	}
}

@media (max-width: 768px) {
	.bloud {
		background: #14131a;
	}

	.venom {
		top: 15%;
	}
}

@media (max-width: 576px) {
	.venom {
		top: 115px;
		width: 30%;
	}

	.nav-menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		z-index: 9;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		transform: translateX(100%);
		transition: transform 0.2s;
	}

	.nav-menu-item {
		margin: 2% 0 2% 0;
	}

	.nav-menu-link {
		color: #14131a;
	}

	.menu-button {
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		background-color: #14131a;
		cursor: pointer;
		color: #fff;
	}
	.menu-button-text {
		margin-right: 10px;
	}

	.nav {
		margin-left: auto;
	}

	.menu-close {
		position: fixed;
		opacity: 0;
		right: 25px;
		top: 85px;
		display: flex;
		align-items: center;
		z-index: 10;
		border: none;
		background: #fff;
		cursor: pointer;
		transform: translateX(300%);
		transition: transform 0.2s;
		transition-delay: 0.2s;
	}

	.menu-close-text {
		margin-right: 10px;
	}

	.button-group {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.film-text {
		text-align: center;
	}

	/**/
	.col-poster {
		flex-direction: column;
		align-items: center;
	}

	.trailer {
		width: 100%;
	}

	.list-acters {
		column-count: 1;
	}

	.is-open {
		transform: translateX(0);
		opacity: 1;
	}
}
